body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.content_all {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

:root {
	--green: #5ece7b;
	--black: #1d1f22;
	--white: #fff;
	--darckGreen: #1bb343;
	--gray: rgb(150, 148, 148);
	--red: red;
}
